asgiref==3.8.1 
dj-database-url==2.3.0 
django-appconf==1.1.0 
django-compressor==4.5.1 
django-environ==0.12.0
django==5.2 
gunicorn==23.0.0 
packaging==25.0 
psycopg==3.2.7 
rcssmin==1.1.2 
redis==6.0.0 
rjsmin==1.2.2 
sqlparse==0.5.3 
typing-extensions==4.13.2 
tzdata==2025.2 
whitenoise==6.9.0 
regex
shortuuid==1.0.13
httpx==0.28.1