{% load static cache %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon"
              href="{% static 'imgs/logo.png' %}"
              type="image/x-icon" />
        {% block head %}{% endblock %}
        {% cache 84600 'google-fonts' %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% endcache %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap"
          rel="stylesheet" />
    <title>
        {% block title %}{% endblock %}
        | JobIA
    </title>
</head>
<body>
    {% block content %}{% endblock %}
    <script>
      document.querySelector('.home-icon').addEventListener('click', function () {
        window.location.href = '{% url "home_page" %}'
      })
    </script>
</body>
</html>
